<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        * {
            margin: 0;
            font-size: 16px;
        }

    </style>
</head>
<body>
    <table style="width:60%;">
        <tr>
            <td>
                <img src="https://t3.ftcdn.net/jpg/03/67/35/72/240_F_367357209_BG07SVnnB4HSHSaMiHajfZhrZZAE859A.jpg" alt="welcome">
            </td>
        </tr>
        <tr style="width: 80%; margin: 10px 0; font-size: 20px;">
            <h2 style="text-align: center; font-weight: 500;">Welcome to Nodemailer class 101</h2>
        </tr>
        <tr style="margin: 0 auto;">
            <p style="margin-bottom: 5px;">Hello <span style="color: #8ab4f8;"><%=name%></span>, </p>
            <p>Thank you for joining us. We're glad to have you on board. Follow the link below to access the classes: </p>
            <a href="#">https://nodemailer.karibu/sana</a>
        </tr>
<!-- 
        <tr>

        </tr> -->
    </table>
</body>
</html>